<h1>Welcome to our site, <%= @user.full_name %></h1>
<p>
  You have successfully commented article,
  your email is: <%= @user.email %>.<br>
  your comment is: <%= @comment.comment %>
</p>
<p>Thanks for joining and have a great day!</p>