<div class="header">
  <div class="header-first">
    Sports Hub
  </div>
  <div class="header-second">
    <input type="search" placeholder="Search">
  </div>
  <div class="header-third">
    Share
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-google"></a>
  </div>
  <div class="header-fourth">
    Sign in
  </div>
  <div class="header-fifth">
    EN
  </div>
</div>